
@font-face {
    font-family: 'highvoltage';
    src: url('https://artylo.github.io/font/HighVoltage.ttf');
}

body
{
	background-color: black;
}
h1
{
	font-family: 'highvoltage', Arial, sans-serif;
	color: white;
}
h2
{
	font-family: 'highvoltage', Arial, sans-serif;
	color: white;
}
h3
{
	font-family: 'highvoltage', Arial, sans-serif;
	color: white;
}

 /* Unvisited Link */
a:link {
	font-family: 'highvoltage', Arial, sans-serif;
	color: white;
}

/* Visited Link */
a:visited {
	color: darkgray;
}

/* Mouse over Link */
a:hover {
	color: lightgray;
}

/* Selected Link */
a:active {
	color: gray;
} 