
@font-face {
    font-family: 'highvoltage';
    src: url('https://artylo.github.io/font/HighVoltage.ttf');
}

body
{
	background-color: black;
}
h1
{
	font-family: 'highvoltage', Arial, sans-serif;
	color: white;
	margin:16;
}
h2
{
	font-family: 'highvoltage', Arial, sans-serif;
	color: white;
}
h3
{
	font-family: 'highvoltage', Arial, sans-serif;
	color: white;
}
h4
{
	font-family: 'highvoltage', Arial, sans-serif;
	color: white;
}
p
{
	font-family: 'highvoltage', Arial, sans-serif;
	color: white;
}


 /* Unvisited Link */
a:link {
	font-family: 'highvoltage', Arial, sans-serif;
	color: white;
}

/* Visited Link */
a:visited {
	color: darkgray;
}

/* Mouse over Link */
a:hover {
	color: lightgray;
}

/* Selected Link */
a:active {
	color: gray;
} 

/* NAVIGATION BAR*/
/* Add a black background color to the top navigation */
.topnav {
  background-color: #3333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: black;
  border: 3px solid #3333;
  color: white;
}

.topnav a.toRight {
   float: right;
}
.topnav a.toLeft {
   float: left;
   padding: 6px 6px;
   margin-left: 4px;
}
.topnav a.toCenter {
	transform: translate(100%);
	text-align: center;
	display: inline-block;
}

/*Copyright Formating*/
.copyright p
{
	color: #0f0f0f;
	white-space: nowrap;
}
.copyright span
{
	color: #0f0f0f;
	white-space: nowrap;
}

.blog iframe{
	width: 90%;
}

.bigtimer span
{
	font-family: 'highvoltage', Arial, sans-serif;
	color: white;
	font-size: 36px;
}